<%- partial('_partial/head') %>
<body>
    <div id="wrapper">
        <div class="header">
            <a href="<%- config.root %>"><%- config.title %></a>
        </div>
        <%- partial('_partial/links')%>
        <%- body %> 
    </div>
    <%- partial('_partial/google_analytics') %>
</body>
</html>
